#wrapper{
    margin: 0px auto;
    padding:15px 10px;
    width: 1000px;
    height: fit-content;
    border: dashed red 1px;
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(92,97,176);
    background: radial-gradient(circle, rgba(92,97,176,1) 0%, rgba(40,46,91,1) 84%);
    color: blanchedalmond;
}
#head{
    text-align: center;
}
.subHead{
    text-align: center;
}
.link{
    color:lightcoral;
}
.navLink{
    margin: 10px 25px;
    color:lightcoral;
}
#displayTable{
    display:block;
    margin: 0px auto;
    width: 800px;
    border-collapse: collapse;
}
.tableData{
    padding: 8px 10px;
    border: thin solid black;
}