<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Login and Register</title>
</head>
<body>
    <div class="container">
        <div id="register" class="column">
            <h1>Register</h1>
            <form action="/create" method="post">
                {% with messages = get_flashed_messages() %}    <!-- declare a variable called messages -->
                    {% if messages %}                           <!-- check if there are any messages -->
                        {% for message in messages %}           <!-- loop through the messages -->
                            <p>{{message}}</p>                  <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for="first_name">First Name:</label>
                <input type="text" class="textbox" name="first_name" id="first_name">
                <label for="last_name">Last Name:</label>
                <input type="text" class="textbox" name="last_name" id="last_name">
                <label for="email">Email:</label>
                <input type="text" class="textbox" name="email" id="email">
                <label for="password">Password:</label>
                <input type="password" class="textbox" name="password" id="password">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" class="textbox" name="confirm_password" id="confirm_password">
                <input type="submit" class="button" value="Register">
            </form>
        </div>
        <div id="login" class="column">
            <h1>Login</h1>
            <form action="/login" method="post">
                <label for="email">Email:</label>
                <input type="text" class="textbox" name="email" id="email">
                <label for="password">Password:</label>
                <input type="password" class="textbox" name="password" id="password">
                <input type="submit" class="button" value="Login">
            </form>
        </div>
    </div>
</body>
</html>