<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Recipe App</title>
</head>
<body>
<div id=wrapper>
    <header>
        <a class=navLink href="/logout">Log Out</a>
        <a class=navLink href="/create">New Recipe</a>
        <h1 id=head>Welcome {{user.firstName}}</h1>
        <h4 class=subHead>These are the recipes...</h4>
    </header>
    <div id="displayTable">
        <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Under 30 Min?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td class="tableData" >{{recipe.name}}</td>
                {% if recipe.timeLimit == 0%}
                <td class="tableData">False</td>
                {% else %}
                <td class="tableData">True</td>
                {% endif %}
                <td class="tableData"><a class="link" href="/recipe/{{recipe.id}}">Show</a>
                    {% if user.id == recipe.creatorId %} | <a class="link" href="/recipe/{{recipe.id}}/edit">Edit</a> | <a class="link" href="/recipe/{{recipe.id}}/delete">Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</body>
</html>