<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Edit Recipe</title>
</head>
<body>
    {% for r in recipe %}
<div id=wrapper>
    <header>
        <a class=navLink href="/home">Dashboard</a>
        <a class=navLink href="/logout">Log Out</a>
        <h1 id=head>Edit {{r.name}}</h1>
    </header>
    <div id=inputForm >
        <form action="/create" method="POST">
            <input type="hidden" value="{{r.creatorId}}" name="creator">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "recipeError" %}
                            <p class={{category}}>{{message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>Name: <input type="text" name="name" value="{{r.name}}"></p>
            <p>Discription(Optional): <input type="text" name="description" value="{{r.description}}"></p>
            <p>Instructions: <input type="text" name="instructions" value="{{r.instructions}}"></input></p>
            <!-- LastMade and timeLimit not displaying precreated defaults Ln.35/36 -->
            <p>Last Made: <input name="lastMade" type="date" id="datePicker" value="{{r.lastMade}}"></p>
            <p>Under 30 min? <input type="radio" name="timeLimit" value="1">Yes<input type="radio" name="timeLimit" value="0">No</p>
            <input type="submit" value="Update">
        </form>
    </div>
    {% endfor %}
</div>
</body>
</html>