<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Recipe App</title>
</head>
<body>
<div id=wrapper>
    <header>
        <a class=navLink href="/logout">Log Out</a>
        <a class=navLink href="/home">Dashboard</a>
        
        <h1 id=head>Recipe {{recipe.id}}: {{recipe.name}}</h1>
    </header>
    <div id="displayTable">
        <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Instructions</th>
                <th>Last Made</th>
                <th>Under 30 Min?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tableData" >{{recipe.name}}</td>
                <td class="tableData" >{{recipe.description}}</td>
                <td class="tableData" >{{recipe.instructions}}</td>
                <td class="tableData" >{{recipe.lastMade}}</td>
                {% if recipe.timeLimit == 0 %}
                <td class="tableData">False</td>
                {% else %}
                <td class="tableData">True</td>
                {% endif %}
                <td class="tableData"><a class="link" href="/recipe/{{recipe.id}}">Show</a>
                    {% if user.id == recipe.creatorId %} | <a class="link" href="/recipe/{{recipe.id}}/edit">Edit</a> | <a class="link" href="/recipe/{{recipe.id}}/delete">Delete</a></td>
                {% endif %}
            </tr>
            {% for c in recipe.creator %}
            <h3>Created By: {{c.firstName}} {{c.lastName}}</h3>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</body>
</html>