#wrapper{
    margin: 0px auto;
    padding:15px 0px;
    width: 1000px;
    height: fit-content;
    border: dashed red 1px;
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(92,97,176);
    background: radial-gradient(circle, rgba(92,97,176,1) 0%, rgba(40,46,91,1) 84%);
    color: blanchedalmond;
}
.head{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.link{
    color:coral;
}
.navLink{
    color:coral;
    margin: 0px 20px;
    font-size: larger;
}
.errors{
    color: crimson;
}
#inputForm{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 100px;
}

#displayDiv{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 175px;
}
.tableData{
    padding: 8px 10px;
    border: thin solid black;
}
table{
    display: table;
    border-collapse: collapse;
    vertical-align: top;
}
/* div{
    display: inline-block;
    vertical-align: top;
} */