<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>00Skeleton00</title>
</head>
<body>
<div id=wrapper>
    <header>
        <a class=navLink href="/logout">Log Out</a>
        <h1 id=head>Houston, We have liftoff.</h1>
    </header>
</div>
</body>
</html>