#wrapper{
    margin: 0px auto;
    width: 1000px;
    height: fit-content;
    border: dashed red 1px;
    font-family:Arial, Helvetica, sans-serif
}
#head{
    text-align: center;
}
.color1 {
    background-color: {{color2}};
}
.color2 {
    background-color: {{color1}};
}