<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Wall</title>
</head>
<body>
<div id=wrapper>
    <header>
        <h1 id=head>{{user.firstName}}'s Wall</h1>
        <h2 id=navTitle></h2>
        <a class=navLink href="/landing">Home</a>
        <a class=navLink href="/logout">Log Out</a>
    </header>
    <div id=displayMessage>
        <h3 class=subHead>{{recieved}} Post(s) for You</h3>
        {% for post in myPosts %}
        <p class=messageLabel>{{post.firstName}} said:</p>
        <ul id=list>
                <!-- if message.creator is in my list of friends -->
                <li class=listItem>{{post.content}}</li>
                <!-- ulike button -->
                <!-- else -->
                <!-- display like button -->
            </ul>
            <a class=link href="/deletepost/{{post.id}}">Delete</a>
        {% endfor %}
    </div>
    <div id=messageForm>
        <h3 class=subHead>Make Posts</h3>
        <p id=subSubHead>You have made
            {% if sent == 1 %}
                {{sent}} post.</p>
            {% else %}
                {{sent}} posts.</p>
            {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "postError" %}
                        <p class=error>{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/send" method="POST">
            <p class=formLabel>Recipient: </p>
            <select name="recipientId">
                <option selected disabled>---- Select One ----</option>
                {% for recipient in users %}
                <option value="{{recipient.id}}">{{recipient.firstName}} {{recipient.lastName}}</option>
                {% endfor %}
            </select>
            <p class=formLabel ><input id=contentInput type="text" name="content"></p>
            <input id=submitButton type="submit" value="Send">
        </form>
    </div>
</div>
</body>
</html>