<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{user.firstName}}'s Info</title>
</head>
<body>
    <div id=regForm >
        <h2 class=subHead>Edit Your Information</h2>
        <form action="/user/edit" method="POST">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "editError" %}
                            <p class=error>{{message}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>First Name: <input type="text" name="firstName" value={{user.firstName}}></p>
            <p>Last Name: <input type="text" name="lastName" value={{user.firstName}}></p>
            <p>Email: <input type="text" name="email" value={{user.firstName}}></p>
        </form>
    </div>
</body>
</html>