<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Author Info</title>
</head>
<body>
<div id=wrapper>
    {% for a in author %}
    <header>
        <a class=navLink href="/authors">Authors</a> | <a class=navLink href="/books">Books</a>
    </header>
    <div id=displayDiv>
        <h1 class=head>{{a.name}}'s Favorite Books</h1>
        <table >
        <thead>
            <tr>
                <th>Title</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            {% for book in favoriteBooks %}
            <tr>
                <td class="tableData">{{book}}</td>

                <!-- <td <a class="link" href="/books/{{book.id}}/edit">Edit</a> | <a class="link" href="/users/{{book.id}}/delete">Delete</a></td> -->
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div id="inputForm" >
        <h1 class=head>Add To Favorites</h1>
        <form action="/authors/{{a.id}}/addBook" method="POST">
            <h4>Title: <select type="text" name="bookId"></h4>
            <!-- for loop through books not already favorited -->
            {% for b in books %}
            <option value={{b.id}}>{{b.title}}</option>
            {% endfor %}
            <input type="submit" value="Add">
        </form>
    </div>
    {% endfor %}
</div>
</body>
</html>