/* ------- ALL ------- */
*{
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100%;
    height:100vh;
}
#wrapper{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(92,97,176);
    background: radial-gradient(circle, rgba(92,97,176,1) 0%, rgba(40,46,91,1) 84%);
    color: blanchedalmond;
}
.subHead{
    text-align: center;
    text-decoration: underline;
    color:black;
    margin: 15px 0px;
}

.tableLink{
    color:coral;
}
.tableData{
    padding-left: 10px;
}
.tableHead{
    color:coral;
}
/* ------- index.html ------- */
p{
    color:coral;
}
#burgerForm{
    display: inline-block;
    width: fit-content;
    text-align: center;
    vertical-align: top;
    margin: 8% 150px 0px 20%;
}
.formInput{
    margin-bottom: 15px;
}
.formButton{
    margin: 0 50% 10px 0;
    padding: 2px 3px;
}
.selectInput{
    display: inline-block;
    margin: 0 15% 10px 0;
    padding: 2px 3px;
}
#restTable{
    width: fit-content;
    text-align: center;
    vertical-align: top;
    margin: 8% 150px 0px 20%;
    display: inline-block;
}
/* ------- show.html ------- */
#displayTable{
    display: inline-block;
    margin: 20px 0px 20px 30%;
}
header{
    padding-top: 30px;
    padding-left: 85%;
}
.tableRow{
    margin: 10px;
}