<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Email Validations</title>
</head>
<body>
<div id=wrapper>
    <div id="inputForm" >
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p id="error">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/" method="POST">
            <p>Email: <input type="text" name="email"></p>
            <input type="submit" value="Submit">
        </form>
    </div>

</div>
</body>
</html>