#wrapper{
    margin: 0px auto;
    padding:15px 20px;
    width: 1000px;
    height: fit-content;
    border: dashed red 1px;
    font-family:Arial, Helvetica, sans-serif;
    background: rgb(92,97,176);
    background: radial-gradient(circle, rgba(92,97,176,1) 0%, rgba(40,46,91,1) 84%);
    color: blanchedalmond;

}
#head{
    text-align: center;
}
.link{
    color:lightcoral;
}
#formDiv{
    text-align: center;
    border-top: thin black solid ;
    margin: 0px auto;
    padding: 0px 10px;
}
#button{
    margin-bottom: 20px;
}
#displayTable{
    padding-top: 20px;
    border-top: solid black thin;
    text-align: center;
}
#error{
    color:crimson;
}
#displayN{
    margin: 8px 0px;
    padding:8px 10px;
    display:inline-block;
}