#wrapper{
    margin: 0px auto;
    width: 1000px;
    height: fit-content;
    border: dashed red 1px;
    font-family:Arial, Helvetica, sans-serif
}
#head{
    text-align: center;
}
td, th{
    text-align: center;
    padding: 5px 10px;
}
table, th, td{
    border: solid thin black;
    border-collapse: collapse;
}
table{
    margin: 0px auto;
}