<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>burgerMVC</title>
</head>
<body>
<div id=wrapper>
    <!-- <header>
        <a class=navLink href="/logout">Log Out</a>
        <h1 id=head>Houston, We have liftoff.</h1>
        <h2 class=subHead>Welcome {{user.firstName}}</h2>

    </header>
    <div id="displayTable">
        <h2 class=subHead>All Users</h2>
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td class="tableData" >{{user.id}}</td>
                <td class="tableData">{{user.firstName}} {{user.lastName}}</td>
                <td class="tableData">{{user.email}}</td>
                <td class="tableData">{{user.createdAt.strftime(dtf)}}</td>
                <td class="tableData"><a class="link" href="/user/{{user.id}}">Show</a> | <a class="link" href="/user/{{user.id}}/edit">Edit</a> | <a class="link" href="/user/{{user.id}}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div> -->
</div>
</body>
</html>