<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>burgerMVC</title>
</head>
<body>
<div id=wrapper>
    <div id=burgerForm >
        <h2 class=subHead>Order Burger</h2>
        <form action="/create/burger" method="POST">
        <p class=formInput>Name: <input type="text" name="name"></p>
        <p class=formInput>Bun: <input type="text" name="bun"></p>
        <p class=formInput>Meat: <input type="text" name="meat"></p>
        <p class=formInput>Doneness: <select  name="temp">
                <option selected disabled>Select One</option>
                <option value="155">Well</option>
                <option value="145">Medium</option>
                <option value="135">Medium Rare</option>
                <option value="125">Rare</option>
        </select></p>
        <p class=formInput>Restaurant: <select name="restaurantId">
                <option selected disabled>Select One</option>
                {% for restaurant in restaurants %}
                <option value={{restaurant.id}}>{{restaurant.name}}</option>
                {% endfor %}
        </select></p>   
        <p class=formInput>Toppings: <select name="toppings" multiple>
            <option selected disabled>Select</option>
            {% for topping in toppings %}
            <option value={{topping.id}}>{{topping.name}}</option>
            {% endfor %}
        </select></p>
        <input class=formButton type="submit" value="Place Order">
        </form>
    </div>
    <div id="restTable">
        <h2 class=subHead>All Restaurants</h2>
        <table>
        <thead>
            <tr class="tableRow">
                <th class="tableHead">ID</th>
                <th class="tableHead">Restaurant</th>
                <th class="tableHead">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for rest in restaurants %}
            <tr class="tableRow">
                <td class="tableData" >{{rest.id}}</td>
                <td class="tableData"><a class=tableLink href="/restaurant/{{rest.id}}">{{rest.name}}</a></td>
                <td class="tableData">{{rest.createdAt.strftime(dtf)}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</body>
</html>